.artistDetailContainer {
    border: 1px solid #e2e2e2;
    padding: 20px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
  }
  
  .artistImage {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
  }